.customButtonContainer{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sketchDiv{
    height: 10px;
    width: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.sketchDiv:hover{
    background-color: grey;
}